.elem {
  height: 64px;
  width: 290px;
  background: rgb(255, 255, 255);
  align-items: center;
  justify-content: space-around;
  display: flex;
  margin-left: -24px;
}

.counter {
  cursor: pointer;
  width: 63px;
  height: 28.571428571428545px;
  padding: 0px 8px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: #ffffff;
  color: #030303;
  font-size: 14px;
  font-family: "DM Sans";
  line-height: 16px;
  outline: none;
}

.accums {
  color: #030303;
  font-size: 14px;
  font-family: "Rubik";
  font-weight: 500;
  line-height: 18px;
  margin-right: -17px;
}

.fond_name {
  color: #030303;
  font-size: 14px;
  font-family: "Rubik";
  font-weight: 500;
  line-height: 18px;
}

hr {
  margin: 0;
}
